.progressBar {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.progressBar__input {
  width: 40px;
}
.progressBar__background {
  background-color: #DDDDDD;
  overflow-x: hidden;
  height: 15px;
  flex: 1 1 auto;
}
.progressBar__fill {
  background-color: #61DAFB;
  height: 15px;
  transition: transform 1s cubic-bezier(.78,.13,.16,.87);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  overflow: hidden;
}
