.shoppingCart {
  padding: 0;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  line-height: 20px;
}
.item__left {
  display: flex;
  align-items: center;
}
.item a {
  text-decoration-line: none;
}
.item__image {
  border-radius: 50%;
  margin-right: 20px;
}
