.header {
  background-color: black;
  display: flex;
  align-items: center;
  padding: 10px;
}
.headerLogo {
  height: 60px;
  width: 60px;
}
.title {
  color: #61DAFB;
}
.container {
  display: flex;
  align-items: center;
  margin: 20px;
}
.progress {
  width: 40px;
}
.background {
  background-color: gainsboro;
  overflow-x: hidden;
  height: 15px;
  flex: 1 1 auto;
  margin-left: 10px;
}
.fill {
  background-color: deepskyblue;
  height: 15px;
  transition: transform 1s cubic-bezier(.78,.13,.16,.87);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  overflow: hidden;
}
